.product-head-brand {
  font-size: 40px;
  margin: 0;
  font-style: normal;
  font-weight: 500;
}

.product-head-title {
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 500;
}
